useDynLib(causalTree, .registration = TRUE, .fixes = "C_")

export(causalTree, honest.causalTree, na.causalTree, estimate.causalTree, causalTree.matrix, causalForest, propensityForest,honest.rparttree)

importFrom(grDevices, dev.cur, dev.off)
importFrom(graphics, plot, text)
importFrom(stats, model.frame, predict, residuals)
importFrom(rpart, rpart)
importFrom(data.table, copy)

S3method(model.frame, causalTree)
S3method(predict, causalForest)



